<ion-content [fullscreen]="true">
  <canvas #doughnutCanvas style="position: relative; height:20vh; width:40vw;padding: 12px;"></canvas>
  <ion-grid style="padding: 24px;">
    <ion-row>
      <ion-col [routerLink]="['/main/words']">
        <ion-icon name="stats-chart-outline"></ion-icon>
        <br>
        <ion-label>Start Learning</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col [routerLink]="['/main/word-cards-subjects/quiz']" >
        <ion-icon name="stats-chart-outline"></ion-icon>
        <br>
        <ion-label>Quizler</ion-label>
      </ion-col>
      <ion-col [routerLink]="['/main/word-cards-subjects/learning']">
        <ion-icon name="stats-chart-outline"></ion-icon>
        <br>
        <ion-label>Kartlar</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-icon name="stats-chart-outline"></ion-icon>
        <br>
        <ion-label>Skor</ion-label>
      </ion-col>
      <ion-col>
        <ion-icon name="stats-chart-outline"></ion-icon>
        <br>
        <ion-label>Analizler</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-button (click)="addDataButton()">Ekle</ion-button> -->
</ion-content>