<ion-content *ngIf="ionicForm" [fullscreen]="true">
  <div *ngIf="mode === 'verifyAndChangeEmail' ">
    <ion-title style="color: white;"  >Emaili Değiştir</ion-title>
    <form style="padding: 12px;" [formGroup]="emailForm">
      <ion-item  lines="full"><ion-input type="email"
        lines="full"
        color="dark"
        errorText="Please Enter Valid Email" formControlName="email" class="custom" placeholder="example@example.com"></ion-input></ion-item>
  
      <ion-button (click)="submitNewEmail()" expand="block" fill="outline" mode="ios">
        Email değiştir.
        <ion-icon slot="start" name="log-in-outline"></ion-icon>
      </ion-button>
  </form>

  </div>  
  <div *ngIf="mode !== 'verifyAndChangeEmail' ">
    <ion-title style="color: white;"  >Şifreyi Değiştir</ion-title>
      <form style="padding: 12px;" [formGroup]="ionicForm">
          <ion-item  lines="full"><ion-input type="password"
            lines="full"
            color="dark"
            errorText="Geçerli Şifre Giriniz" formControlName="newPassword" class="custom" placeholder="Yeni Şifre"></ion-input></ion-item>
          <ion-item  lines="full"><ion-input  type="password"
            lines="full"
            color="dark"
            errorText="Aynı değiller" formControlName="repeat" class="custom" placeholder="Tekrar Yeni Şifre"></ion-input></ion-item>
    
          <ion-button (click)="submitForm()" expand="block" fill="outline" mode="ios">
            Şifremi değiştir.
            <ion-icon slot="start" name="log-in-outline"></ion-icon>
          </ion-button>
      </form>
  </div>
  </ion-content>