<ion-content *ngIf="ionicForm" [fullscreen]="true">
    <ion-title style="color: white;"  >Şifreyi Değiştir</ion-title>
    <form style="padding: 12px;" [formGroup]="ionicForm">
        <ion-item  lines="full"><ion-input type="password"
          lines="full"
          color="dark"
          errorText="Geçerli Şifre Giriniz" formControlName="newPassword" class="custom" placeholder="Yeni Şifre"></ion-input></ion-item>
        <ion-item  lines="full"><ion-input  type="password"
          lines="full"
          color="dark"
          errorText="Aynı değiller" formControlName="repeat" class="custom" placeholder="Tekrar Yeni Şifre"></ion-input></ion-item>
  
        <ion-button (click)="submitForm()" expand="block" fill="outline" mode="ios">
          Şifremi değiştir.
          <ion-icon slot="start" name="log-in-outline"></ion-icon>
        </ion-button>
    </form>
  </ion-content>