<ion-content [fullscreen]="true">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <ng-container *ngIf="this.route.snapshot.params['type']=='learning'">
        <div *ngFor="let word of words; let i = index " [ngClass]="{'carousel-item': true, 'active': i === 0}">
          <div class="card-container">
            <ion-card [ngClass]="isFlipped[i] ? 'flipped' : ''">
              <div class="card-inner">
                <ion-toolbar class="flipped" *ngIf="isFlipped[i]">
                  <ion-icon (click)="flipCard(i)" slot="end" name="reload-outline"></ion-icon>
                  <ion-icon slot="start" name="download-outline"></ion-icon>
                </ion-toolbar>
                <div class="front">
                  <ion-card-header>
                    <ion-card-title style="text-align: center;"><ion-icon
                        name="volume-high-outline"></ion-icon></ion-card-title>
                    <ion-card-title>{{word.wordName}}</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-button (click)="flipCard(i)">Flip Card</ion-button>
                  </ion-card-content>
                </div>
                <div class="back">
                  <ion-card-header>
                    <ion-card-title>{{word.wordName}}</ion-card-title>
                    <ion-card-subtitle>{{word.pronunciation}}</ion-card-subtitle>
                    <ion-card-title><i class="fa-solid fa-handshake"></i></ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-label>Explantation:</ion-label>
                    <ion-label>{{word.explantation}}</ion-label>
                    <br>
                    <ion-label class="example"> Example : {{word.example}}</ion-label>
                  </ion-card-content>
                </div>
              </div>
            </ion-card>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="this.route.snapshot.params['type']=='quiz'">
        <div *ngFor="let word of words; let i = index " [ngClass]="{'carousel-item': true, 'active': i === 0}">
          <div class="card-container">
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>{{word.wordName}} kelimesinin Türkçe karşılığı aşağıdakilerden hangisidr
                  ?</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-radio-group [(ngModel)]="selectedAnswer" >
                    <div *ngFor="let answer of answers ">
                      <ion-row>
                        <ion-col size="12">
                          <ion-radio  [value]="answer">{{ answer }}</ion-radio>
                        </ion-col>
                      </ion-row>
                    </div>
                  </ion-radio-group>
                </ion-grid>
                <ion-button (click)="checkAnswer()" id="open-modal" expand="block">Kontrol Et</ion-button>

              </ion-card-content>
            </ion-card>
          </div>
        </div>
        <!-- <ion-button id="open-modal" expand="block">Open Sheet Modal</ion-button>
        <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
          <ng-template>
            <div class="block">Block of Content</div>
          </ng-template>
        </ion-modal> -->
      </ng-container>
    </div>
    <button (click)="backCard()" class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button #nextButton (click)="nextCard()"  class="carousel-control-next" type="button" data-bs-target="#carouselExample"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</ion-content>

<!-- <div class="card-container" *ngIf="type=='quiz'">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Hello kelimesinin Türkçe karşılığı aşağıdakilerden hangisidr ?</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-radio-group [(ngModel)]="selectedAnswer">
              <div *ngFor="let answer of answers">
                <ion-row>
                  <ion-col size="6">
                    <ion-radio [value]="answer">{{ answer }}</ion-radio>
                  </ion-col>
                </ion-row>
              </div>
            </ion-radio-group>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div> -->