<ion-content *ngIf="categories" [fullscreen]="true">
  <ion-accordion-group style="padding: 12px;">
    <ion-accordion *ngFor="let category of categories; let i = index" value="{{i}}">
      <ion-item slot="header">
        <ion-toolbar>
          <ion-buttons slot="start">
              <ion-icon name="{{category.iconName}}"></ion-icon>
              <ion-label>{{category.categoryName}}</ion-label>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-badge slot="end">{{filterDecks(category.categoryID).length}} Decks</ion-badge>
          </ion-buttons>
        </ion-toolbar>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let deck of filterDecks(category.categoryID)" size="4">
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Deck {{deck.priority}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <ion-icon name="car-sport-outline"></ion-icon>
                </ion-card-content>
                <ion-button (click)="startDeck(deck.deckID)" color="success" fill="outline"
                  class="card-button">Start</ion-button>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div style="text-align: center;"> <ion-button fill="outline">Next Deck</ion-button>
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>