  <ion-content  class="ion-padding">
    <div class="ion-margin-top">
      <ion-label [(ngModel)]="lastStatus" [ngStyle]="{'color': status ? 'green' : 'red'}" > {{lastStatus}}
      </ion-label>
      <br>
      <ion-label *ngIf="!status" style="color: green; font-size: 12px;"> {{ word.turkishWordName }}</ion-label>
      <br>
      <ion-label style="color: white; font-size: 18px;"> Anlamı : {{ word.explantation }}</ion-label>
    </div>
    <ion-button (click)="dismiss()"  expand="block">Sonraki</ion-button>
  </ion-content>

