<ion-menu side="end" content-id="main-content">
  <ion-content class="ion-padding">
    <ion-item detail button>
      <ion-avatar slot="start"> <ion-img
          [src]=" 'https://firebasestorage.googleapis.com/v0/b/banquet-team.appspot.com/o/applications%2FofficialWebsite%2Fshared%2Ficon-user-default.png?alt=media&token=73e0be95-5690-472d-8f79-62cccf413dac'"></ion-img></ion-avatar>
      <ion-label> Berke Erçetin </ion-label>
    </ion-item>
    <ion-item>
      <ion-button [routerLink]="['/main']" color="light" fill="" expand="full" mode="ios">
        <ion-icon name="home-outline" class="icons"></ion-icon>
        <div class="buttonFont">Anasayfa</div>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button [routerLink]="['/main']" color="light" fill="" expand="full" mode="ios">
        <ion-icon name="home-outline" class="icons"></ion-icon>
        <div class="buttonFont">Skor</div>
      </ion-button>
    </ion-item>
      <ion-item>
        <ion-button color="dark" fill="" expand="full" mode="ios">
          <ion-icon name="test" class="icons"></ion-icon>
          <div class="buttonFont">Analizler</div>
        </ion-button>
      </ion-item>
      <ion-button (click)=signOut() color="dark" expand="block" fill="clear" [routerLink]="['']">
        <ion-icon name="exit"></ion-icon>
        <ion-label style="margin-left: 8px;">Çıkış Yap</ion-label>
      </ion-button>
  </ion-content>
</ion-menu>


<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button *ngIf="checkRoute()" (click)="back()"><ion-icon color="light" name="arrow-back-outline"></ion-icon></ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title mode="ios">Anasayfa</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> <ion-router-outlet style="margin-top: 12px;"></ion-router-outlet></ion-content>
</div>