
<ion-content [fullscreen]="true">
  <ion-img src="../../../assets/logo-test.png"></ion-img>
  <ion-grid style="margin-top: 40%;">
    <ion-row>
      <ion-col>
        <ion-button (click)="login()" expand="block" fill="outline" mode="ios">
          <!-- <i  class="fa-solid fa-right-to-bracket"></i> -->
          <div style="background: white;" slot="start"><ion-icon slot="start" name="log-in"></ion-icon></div>
          <div>Giriş Yap</div>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="register()" expand="block" fill="outline">
          <ion-icon slot="start" name="log-in-outline"></ion-icon>
          Kayıt Ol
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <hr>
      </ion-col>
      <ion-col style="text-align: center;"><ion-label>veya</ion-label></ion-col>
      <ion-col>
        <hr>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline">
          <ion-icon slot="start" name="log-in-outline"></ion-icon>
          Google ile giriş yap.
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline">
          <ion-icon slot="start" name="log-in-outline"></ion-icon>
          Facebook ile giriş yap.
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline">
          <ion-icon slot="start" name="log-in-outline"></ion-icon>
          X ile giriş yap.
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
