ion-button{
    
    --color:#FFFFFF;
    --border-color: #FFFFFF;
    --border-style: solid;
    --border-width: 1px;
    --border-radius: 128px;
}
hr { background-color: white; height: 2px; border: 0; }

  