<ion-content *ngIf="ionicForm" [fullscreen]="true">
  <ion-title style="color: white;">Gerekli Bilgiler:</ion-title>
  <form style="padding: 12px;" [formGroup]="ionicForm">
    <ion-item lines="full"><ion-input type="text" lines="full" color="dark" errorText="Geçersiz İsim"
        formControlName="name" class="custom" placeholder="Kullanıcı Adı"></ion-input></ion-item>

    <ion-item lines="full">
      <ion-input type="email" lines="full" color="dark" errorText="Invalid email" formControlName="email" class="custom"
        placeholder="Email"></ion-input>
    </ion-item>

    <ion-item lines="full"><ion-input type="email" lines="full" color="dark" errorText="Geçersiz Şifre"
        formControlName="password" color="dark" class="custom" placeholder="Parola"></ion-input></ion-item>

    <ion-item lines="full"><ion-input type="password" lines="full" color="dark" errorText=" Aynı Değil."
        formControlName="confirmPassword" color="dark" class="custom"
        placeholder="Parola Yeniden"></ion-input></ion-item>

    <ul style="margin-top: 12px;">
      <li (click)="presentModal()">
        Kullanım Koşulları
      </li>
      <li>
        Çerez Kullanım Politikası
      </li>
      <li>
        Kullanım Politikası
      </li>
    </ul>
    <ion-checkbox [(ngModel)]="isChecked" [ngModelOptions]="{standalone: true}" labelPlacement="end">Okudum,
      Onaylıyorum</ion-checkbox>
    <!-- <span class="error ion-padding" *ngIf="isSubmitted && !isChecked" style="margin-bottom: 8px;"> Devam etmek için kabul etmelisin </span> -->

    <ion-button (click)="submitForm()" style="margin-top: 12px;" expand="block" fill="outline" mode="ios">
      Kaydı Tamamla
      <ion-icon slot="start" name="log-in-outline"></ion-icon>
    </ion-button>
  </form>
</ion-content>