<ion-content [fullscreen]="true">
  <ion-title style="color: white;"  >Gerekli Bilgiler:</ion-title>
  <form style="padding: 12px;">
      <ion-item  lines="full"><ion-input class="custom" placeholder="Email"></ion-input></ion-item>
      <ion-item lines="full"><ion-input color="dark" class="custom" placeholder="Parola"></ion-input></ion-item>
      <ion-item lines="full"><ion-input color="dark" class="custom" placeholder="Parola Yeniden"></ion-input></ion-item>
      <ul style="margin-top: 12px;">
        <li (click)="presentModal()">
          Kullanım Koşulları
        </li>
        <li>
           Çerez Kullanım Politikası
        </li>
        <li>
         Kullanım Politikası
       </li>
       </ul>
      <ion-checkbox labelPlacement="end">Okudum, Onaylıyorum</ion-checkbox>
      <ion-button style="margin-top: 12px;" expand="block" fill="outline" mode="ios">
        Kaydı Tamamla
        <ion-icon slot="start" name="log-in-outline"></ion-icon>
      </ion-button>
  </form>
</ion-content>