<ion-content [fullscreen]="true">
  <ion-title style="color: white;"  >Gerekli Bilgiler:</ion-title>
  <form style="padding: 12px;" [formGroup]="ionicForm">
      <ion-item  lines="full"><ion-input formControlName="email" class="custom" placeholder="Email"></ion-input></ion-item>
      <ion-label style="color:white">Lütfen hesabınıza ait doğru bir epsota girin hesabınıza kurtarma maili yollayalım</ion-label>
      <ion-button (click)="submitForm()" expand="block" fill="outline" mode="ios">
        E posta Gönder.
        <ion-icon slot="start" name="log-in-outline"></ion-icon>
      </ion-button>
  </form>
</ion-content>